body{
    font-family: 'LunchType-Regular', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.section{
    position: relative;
    height: 100vh;
    display: flex;
}

.section-pad{
    padding-left: 3vw;
    padding-right: 3vw;
}

.container{
    max-width: 810px;
    margin: auto;
}

.day .container{
    position: relative;
    z-index: 2;
}

.intro{
    background-image: url('assets/images/intro.jpg');
    color: white;
}

.intro p {
    font-size: 32px;
    line-height: 1.2;
}

.logo{
    display: block;
    text-align: center;
    margin-bottom: 32px;
    max-width: 112px;
    margin-left: auto;
    margin-right: auto;
}

.logo img{
    width: 100%;
}

.bg-cover{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    50%{
        transform: translate(0);
    }
    100%{
        opacity: 1;
    }
}

.appear {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.marquee{
    position: absolute;
    top: 3vh;
    left: 0;
    width: 100%;
    font-size: 5vw;
    overflow: hidden;
    line-height: 1;
}

@keyframes moveLeft {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-3000vw);
    }
}

.marquee span{
    animation: moveLeft 200s infinite;
    animation-timing-function: linear;
    white-space: nowrap;
    display: block;
    position: relative;
}

.mix-difference{
    mix-blend-mode: difference;
}

.day-1{
    background-color: #ff87a6;
}

.day-2{
    background-color: #1bb190;
}

.day-3{
    background-image: url('assets/images/day-3.jpg');
}

.day {
    text-align: center;
    position: relative;
    overflow: hidden;
}

.date{
    font-size: 28px;
    color: #FFEECF;
    margin-bottom: 48px;
    line-height: 1;
}

.lineup h2{
    font-size: 56px;
    line-height: 1;
    margin-bottom: 6px;
}

.lineup p {
    font-size: 21px;
}

.lineup li{
 margin-bottom: 24px;
}

.scroll-to{
    position: absolute;
    left: 50%;
    bottom: 3vh;
    width: 64px;
    height: 32px;
    background-image: url(assets/images/down-arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: translateX(-50%);
}

.scroll-to-intro{
    background-image: url(assets/images/down-arrow-light.svg);
}

.register .container {
    display: flex;
}

.register h2{
    font-size: 40px;
    margin-bottom: 48px;
    line-height: 1.1;
}

.form{
    margin: 48px 28px;
}

.sign-up{
    display: flex;
    border-bottom: solid 2px #00B290;
    padding-bottom: 12px;
}

.email-input{
    flex: 1;
    
}

input{
    background: none;
    border: none;
    font-size: 21px;
    outline: none;
}

.eyes{
    width: 108px;
    height: 32px;
    background-image: url(assets/images/eyes_open.svg);
}

.hand{
    width: 57px;
    height: 89px;
    background-image: url(assets/images/ok_hand.svg);
    align-self: flex-end;
}

.eyes,
.hand{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 780px) {
    .register .container{
        flex-direction: column;
    }

    .register h2 {
        font-size: 30px;
    }
    
    form{
        margin: 24px 0;
    }
    
}

@media (max-width: 640px) {


    .intro p{
        font-size: 20px;

    }

    .lineup h2{
        font-size: 30px;
    }
    
    .logo{
        max-width: 64px;
        margin-bottom: 24px;
    }

    .scroll-to{
        display: none;
    }
    
}