:root{
    --orange: #FF3C15;
}

body{
    font-family: 'HK-Grotesk-Medium', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #414141;

    background-image: url('../img/background.jpg');
    background-size: 100% auto;
    background-position: center top;
    background-repeat: no-repeat;
}

a{
    text-decoration: none;
    color: #414141;
}

.heading{
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #fff;
    font-family: 'HK-Grotesk-Bold', sans-serif;
    font-size: 110px;
    line-height: 1;
}

.heading-orange{
    font-size: 120px;
    -webkit-text-stroke-color: var(--orange);
    margin-bottom: 3rem;
    color: var(--orange);
}

.container{
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

blockquote{
    color: var(--orange);
    font-size: 36px;
    margin: 0px;
}

.cite{
    color: var(--orange);
    line-height: 1;
    padding: 24px 18px;
    border-radius: 100%;
    border: solid 3px var(--orange);
    text-transform: uppercase;
    margin-top: 12px;
    width: 170px;
}

.schedule-container{
    border: solid 3px var(--orange);
    -webkit-overflow-scrolling: touch;
}

.schedule-container::-webkit-scrollbar{
    width: 12px;
    height: 14px;
    background-color: transparent;
}

.schedule-container::-webkit-scrollbar-thumb{
    border: solid 2px white;
    background-color: var(--orange);
}

.schedule{
    padding: 46px 24px;
}

.schedule-time{
    color: var(--orange);
    font-size: 36px;
    font-family: 'HK-Grotesk-Bold', sans-serif;
    line-height: 1;
    margin-bottom: 8px;
}

.schedule-day{
    writing-mode: vertical-rl;
    text-orientation: sideways;
    transform: rotate(180deg);
    padding: 24px;
    background-color: var(--orange);
    color: white;
    text-align: center;
    line-height: 1;
}

.footer{
    background-color: #222;
}

.footer-link{
    width: 131px;
    height: 40px;
    background-image: url('../img/logo.svg');
}

.fade{
    opacity: 0;
    transition: all 0.5s ease;
}
.fade.visible{
    opacity: 1;
}

.StripeElement{
    background-color: #fff;
    padding: 12px;
}

.form-fields{
    transition: opacity 0.5s ease;
}

.processing .form-fields{
    opacity: 0.5;
    pointer-events: none;
}

.spinner {
    transition: opacity 0.5s ease;
    opacity: 0;
    pointer-events: none;
    width: 40px;
    height: 40px;
    z-index: 10;
    position: absolute;
    bottom: 12%;
    left: 46%;
    margin: 100px auto;
  }

  .processing .spinner {
    opacity: 1;
  }
  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--orange);
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }

  @media (max-width: 800px){
      body{
          font-size: 16px;
          background-size: auto 120vh;
      }

      .heading{
          font-size: 72px;
          -webkit-text-stroke-width: 2px;
    }
    .button{
        padding: 18px 32px;
    }
    .heading-orange{
        margin-bottom: 24px;
    }
    blockquote{
        line-height: 1.2;
    }
    .schedule-day{
        padding: 12px;
    } 
  }

  @media (max-width: 400px){
      .heading{
          font-size: 48px;
          -webkit-text-stroke-width: 1px;
    }
      
  }