#tunnel circle, 
#crosses path,
#squares rect{
    transform-origin: center;
}



.w-200{
    width: 200%;
}

.bg-yellow{
    background-color: #FFF44C;
}
.bg-purple{
    background-color: #CA8CF9;
    
}
.bg-blue{
    background-color: #7CEBFC;
}
.bg-red{
    background-color: #F9343D;
}

div{
    box-shadow: inset 0 0 0px 4px #000;
}

.page{
    border-left: solid 4px #000;
    border-right: solid 4px #000;
}

.page:after,
.page:before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #000;
  z-index: 3;
}

.page:before {
  top: 0;
}

.page:after {
  bottom: 0;
}

.no-border{
    box-shadow: inset 0 0 0px 0px #000;
}

.conveyor-belt{
    border-left: solid 4px #000;
    border-right: solid 4px #000;
}

.dot{
    width: 8px;
    height: 8px;
    background-color: #000;
    box-shadow: inset 0 0 0px 0px #000;
    transform-origin: left;
}


.w-10{
    box-shadow: inset 0 0 0px 0px #000;
}

.w-20{
    box-shadow: inset 0 0 0px 0px #000;
}

#squares rect{
    transform-box: fill-box; 
    transform: translate(-50%, -50%);
   }

@media (max-width: 480px) {
    .mobile-top {
      order: 1;
    }
  
    .mobile-middle {
      order: 2;
    }
  
    .mobile-bottom {
      order: 3
    }
}